body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
}

#root {
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}

.statSubBox {
  background-color: white;
  padding: 10px;
  border: 1px solid rgb(212,212,213);
  border-radius: 7px;
  height: 110px;
  width: auto;
  margin: 0 5px !important;
}

.statSubBox p {
  text-align: center;
}

.red {
  color: #db2828;
}

.blue {
  color: #2185d0;
}

.green {
  color: #21ba45;
}

.globalCasesChart {
  border: 1px solid rgb(212,212,213);
  border-radius: 7px;
  background-color: white;
  margin: auto;
  padding: 10px;
  min-width: 400px;
  max-height: 700px;
  max-width: 800px;
  margin-top: 50px;
}

.menuBar {
  justify-content: center;
  margin-bottom: 20px !important;
}

.countryDropdown {
  width: 40% !important;
  margin: auto;
}

.statsBox {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.errorMessageCountry {
  width: 400px;
  margin: auto !important;
  margin-top: 20px !important;
}

.regionTable {
  max-width: 600px;
  margin: auto;
}

.globalTable {
  max-width: 800px;
  margin: auto;
}

@media only screen and (max-width: 750px) {
  .statsBox {
    flex-direction: column;
  }
  .statSubBox {
    margin: 10px 5px !important;
  }
}